<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>ARTICLES</title>
    {% load bootstrap3 %}
  </head>
  <body>

    <div class="container">
      <h1 class="text-center">Formsets</h1>
      <form method="post" action="">
        <h2>Author</h2>
        {% bootstrap_form form_author %}
        <h2>Articles</h2>
        {{ formset_articles.management_form }}
        {% for form in formset_articles %}
          {% bootstrap_form form %}
        {% endfor %}
        <input type="submit" class="btn btn-primary btn-large" name="" value="SUBMIT">
      </form>
    </div>
  </body>
<script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'>
</html>
