<tr>
  <th>
    <label for="id_form-0-title">Title:</label>
  </th>
  <td>
    <input type="text" name="form-0-title" value="Django is now open source" id="id_form-0-title" />
  </td>
</tr>
<tr>
  <th>
    <label for="id_form-0-pub_date">Pub date:</label>
  </th>
  <td><input type="text" name="form-0-pub_date" value="2008-05-12" id="id_form-0-pub_date" />
  </td>
</tr>

<tr><th><label for="id_form-1-title">Title:</label></th><td><input type="text" name="form-1-title" id="id_form-1-title" /></td></tr>
<tr><th><label for="id_form-1-pub_date">Pub date:</label></th><td><input type="text" name="form-1-pub_date" id="id_form-1-pub_date" /></td></tr>

<tr><th><label for="id_form-2-title">Title:</label></th><td><input type="text" name="form-2-title" id="id_form-2-title" /></td></tr>
<tr><th><label for="id_form-2-pub_date">Pub date:</label></th><td><input type="text" name="form-2-pub_date" id="id_form-2-pub_date" /></td></tr>
