h1{
  font-family: "Arial";

}

p{
  font-family: monospace;;
}

body{
  font-size: 20px;
}

#two {
  font-size: 1.0em;
}

p{
  font-style: italic;
  font-weight: bold;
}

h1{
  text-align: center;
}
