{% extends "posts/post_base.html" %}

{% block pre_post_content %}
  <div class="col-md-4">
    {% if request.user.is_authenticated %}
      <div class="card card-with-shadow">
        <div class="content">
          <h5 class='title'> Your Groups</h5>
          <ul class="list-unstyled">
            {% for member_group in get_user_groups %}
              <li class="group li-with-bullet">
                <a href="{% url 'groups:single' slug=member_group.group.slug %}"></a>
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>

    {% endif %}
    <div class="card card-with-shadow">
      <div class="content">
        <h5 class='title'>All Groups</h5>
        <ul class='list-unstyled'>
          {% for other_group in get_other_groups %}
            <li class="group li-with-bullet">
              <a href="{% url 'groups:single' slug=other_group.slug %}"></a>
            </li>
          {% endfor %}
        </ul>
      </div>

    </div>
  </div>
{% endblock %}


{% block post_content %}
<div class="col-md-8">
  {% for post in post_list %}
    {% include "posts/_post.html" %}
  {% endfor %}

</div>

{% endblock %}
