<!DOCTYPE html>
{% load staticfiles %}
<html>
  <head>
    <meta charset="utf-8">
    <title>Django Level 2</title>
    <link rel="stylesheet" href="{% static "css/myStyle.css" %}">
  </head>
  <body>

    <h1>Hi welcome to StudyHUB!</h1>
    <h2>Here are your access records: </h2>

    <div class="djangotwo">
      <!-- if we have the access_records, then inject it -->
      {% if all_users %}
        <table>
          <th>First name</th>
          <th>Last name</th>
          <th>Email</th>

          {% for user in all_users %}
          <tr>
            <td> {{ user.first_name }} </td>
            <td> {{ user.last_name }} </td>
            <td> {{ user.email }} </td>
          </tr>
          {% endfor %}

        </table>
      {% else %}
        <p> No access records found!</p>
      {% endif %}
    </div>

  </body>
</html>
